<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiane Quadrado</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  
    <nav class="menu">
        <ul>
            <li><a href="index.html">SOBRE MIM</a></li>
            <li><a href="projetos.html">PROJETOS</a></li>
            <li><a href="contato.html">CONTATO</a></li>
        </ul>
    </nav>

<section id="lateral">
    FOTO
    <hr>
    RESUMO PERFIL BLABLA NOME NANANANANAN OIII EHUEHEUHAUHAUHA
    <hr>
    LINKEDIN
</section>

<section id="principal">
TELEFOOOOOOOOOOOOOOOOOOOOONE
EMAAAAAAAAAAAAIL
REDES SOCIAIS BLABLABLABLA
</section>

<footer>
    <p>Site desenvolvido para o projeto Elas na Tech por Chaiane Quadrado</p>
</footer>

</body>
</html>