<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiane Quadrado</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  
<nav class="menu">
    <ul>
        <li><a href="index.html">INÍCIO</a></li>
        <li><a href="projetos.html">PROJETOS</a></li>
        <li><a href="contato.html">CONTATO</a></li>
    </ul>
</nav>

<section id="lateral">
    <img src="../static/img/fotochai.jpg" alt="Foto de Chaiane olhando para a câmera, com cabelos coloridos e pintura no rosto imitando peixinhos enquanto veste uma camiseta vermelha com uma bicicleta em amarelo e jaqueta de couro preta">
    <hr>
    <p><b>Chaiane Quadrado</b>, 31 anos. Atualmente estudando para ser uma desenvolvedora com foco em Frontend.</p>
    <p><b>HTML. CSS. JavaScript.</b></p>
    <hr>
    <ul>
        <li><a href="https://www.linkedin.com/in/chaianeaq/" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/nidril" target="_blank">Github</a></li>
    </ul>
</section>

<section id="principal">
<h1>SOBRE MIM</h1>
<hr>
<p>
    Em março de 2022 resolvi investir em estudar seriamente programação, até então tinha noção de alguma coisa (pricipalmente HTML e CSS), mas não pensava em exercer profissionalmente. Meu primeiro passo foi fazer o curso <b>Eu Progr{AMO}</b>, oferecido pela <a href="https://www.programaria.org/" target="_blank">PrograMaria</a>, de introdução à programação com foco em desenvolvimento web.
</p>
<p>
    Atualmente participo do programa <b>Elas na Tech</b> realizado pela JA Brasil, um programa focado na formação de mulheres na área de tecnologia com conteúdo Full Stack que tem previsão de conclusão em agosto/22.
</p>
<p>
    Me identifiquei muito com a programação e acredito que posso desenvolver cada vez mais habilidades, pretendo dar continuidade aos estudos e assim fazer uma transição de carreira futuramente.
</p>

</section>

<footer>
    <p>Site desenvolvido para o projeto Elas na Tech por Chaiane Quadrado | 2022</p>
</footer>

</body>
</html>