<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiane Quadrado</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  
    <nav class="menu">
        <ul>
            <li><a href="index.html">SOBRE MIM</a></li>
            <li><a href="projetos.html">PROJETOS</a></li>
            <li><a href="contato.html">CONTATO</a></li>
        </ul>
    </nav>

<section id="lateral">
    FOTO
    <hr>
    RESUMO PERFIL BLABLA NOME NANANANANAN OIII EHUEHEUHAUHAUHA
    <hr>
    LINKEDIN
</section>

<section id="principal">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nulla provident quas quia facilis culpa, fugiat nesciunt perferendis corporis illo delectus vitae, nobis explicabo incidunt? Soluta error atque expedita odit.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et obcaecati neque tenetur vel expedita, repellendus impedit quisquam repellat ab molestiae similique asperiores ipsum quidem totam maiores quo repudiandae voluptas omnis.
</section>

<footer>
    <p>Site desenvolvido para o projeto Elas na Tech por Chaiane Quadrado</p>
</footer>

</body>
</html>